%h1 #{candidate[:name]}'s Results
%p #{results[:summary_line]}

- results[:examples].each do |example|
  %h2
    = case example[:status]
      - when "passed" then '<span style="color:#008800;">✔</span>'
      - when "failed" then '<span style="color:#880000;">✘</span>'
      - else '<span style="color:#888800;">~</span>'
    %span #{example[:full_description]}

  - if example[:status] == 'failed'
    %pre
      #{example[:file_path]}:#{example[:line_number]}<br />
      Raised #{example[:exception][:class]}: #{example[:exception][:message]}
